Repository luminosityleds/server, pull requests merged in 2022-11, with the labels that each got.

#5 LL-11
  README.md
  controller/README.md
  controller/helloWorld.py
  server/README.md
  server/helloWorld.js
Labels: documentation

#7 LL-18
  mongodb/Schema/AccountSchema.json
  mongodb/Schema/DeviceSchema.json
  mongodb/Schema/README.md
Labels: mongodb

#11 LL-32
  controller/helloWorld.py
  server/helloWorld.js
  server/package-lock.json
  server/package.json
  server/server.js
Labels: nodejs

#10 LL-34
  mongodb/Schema/README.md
  mongodb/Schema/Validation/Playground-1.mongodb
  mongodb/Schema/imgs/validationError.png
Labels: documentation, mongodb

#12 LL-38: Create python virtual environment
  .github/PULL_REQUEST_TEMPLATE.md
  controller/.gitignore
  controller/README.md
  controller/requirements.txt
Labels: cicd

#14 added powered state and doc
  mongodb/Schema/DeviceSchema.json
  mongodb/Schema/README.md
  mongodb/Schema/Validation/Playground-1.mongodb
Labels: mongodb

#9 LL-21
  .github/workflows/pylint.yml
  controller/pylintrc
Labels: cicd

#18 LL-76
  .github/workflows/hello_world.yml
  .vscode/extensions.json
  client/README.md
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/App.tsx
  client/src/Enums.ts
  client/src/Interfaces.ts
  client/src/components/Account.tsx
  client/src/components/Login.tsx
  client/src/components/README.md
  client/src/components/Register.tsx
  client/src/css/App.css
  client/src/css/Login.css
  client/src/css/README.md
  client/src/css/Register.css
  client/src/imgs/luminosity-led-logo.png
  client/src/logo.svg
  client/src/react-app-env.d.ts
  client/src/reportWebVitals.ts
  client/src/setupTests.ts
  client/tsconfig.json
Labels: account
